<div class='grey-bg'>
  <div class="space-90"></div>
  <div class="container">
    <div class="row">
      {% assign sorted_all_articles = collections.articles | sort:'rank' %}
      {% for article in sorted_all_articles  %}
        {% if article.type == "services" %}
          <div class="col-md-6 col-lg-3 margin-b-30">
            <div class="feature-box-center text-center">
              <i class="{{article.ionicon}}"></i>
              <h4 class="text-capitalize">{{article.titre_en}}</h4>
              <p>{{article.intro_en}}<br />
                <a href="/en/services/{{article.slug}}" title="{{article.titre_en}}">More ...</a>
              </p>
            </div>
          </div><!--/col-->
        {% endif %}
      {% endfor %}
    </div>
    <div class='space-60'></div>
  </div>
</div>
